<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @famille.nom %>
</p>

<%= link_to 'Edit', edit_famille_path(@famille), :class => 'button' %> |
<%= link_to 'Back to list', familles_path, :class => 'button' %>
