<h1>Editing vegetable</h1>

<%= render 'form' %>

<br>
<%= link_to 'New Vegetable', new_vegetable_path, :class => "button" %> |
<%= link_to 'Show', @vegetable %> |
<%= link_to 'Back to list', vegetaux_path %>